/* CALENDAR

.calendar
  margin-top: 60px

.calendar__header
  align-items: center
  padding-bottom: 15px
  border-bottom: 1px solid hsl(var(--clr-container-lighten)) 

.calendar__month
  margin-right: calc(60px - var(--gap, 1rem))

.calendar__date
  align-items: center

.calendar__add
  margin-left: auto
