// Modules

@use '../plugins/plugins-dir' as plugins

/* CALENDAR

.calendar
  margin-top: 60px

.calendar__header
  --gap: 0

  justify-content: space-between
  align-items: center
  padding-bottom: 15px
  border-bottom: 1px solid hsl(var(--clr-container-lighten)) 

.calendar__header-date
  --gap: 40px

  grid-template-columns: 300px max-content
  align-items: center

.calendar__title
  position: relative

.calendar__title.show-pill
  align-self: flex-end

.calendar__title.show-pill > .heading
  font-size: calc(var(--fs-800) + .25rem)

.calendar__back
  +plugins.position(absolute, -100% null null 0)

.calendar__month
  --gap: 1rem

  align-items: center

.calendar__days
  --gap: 0

  justify-content: space-between
  margin-top: 25px

  & > .calendar__day:first-of-type
    border-top-left-radius: 15px

  & > .calendar__day:last-of-type
    border-top-right-radius: 15px

.calendar__day
  width: 100%
  padding-block: 11px
  font-weight: 500
  text-align: center

.calendar__cells
  --gap: 0

  grid-template-columns: repeat(7, 1fr)
  margin-bottom: 1.875rem
  border: 1px solid hsl(var(--clr-container-light))
  +plugins.border-bottom-radius(.625rem)
  overflow: hidden

.calendar__cell
  height: 150px
  padding: .75rem .875rem .75rem .75rem
  border: inherit
  text-align: right
  overflow: hidden

.calendar__cell.now > span
  display: inline-block
  position: relative

  &:before
    content: ''
    width: 1.75rem
    height: 1.75rem
    background-color: hsl(var(--clr-second))
    border-radius: 50%
    +plugins.position(absolute, 50% null null 50%)
    transform: translate(-50%, -50%)
    z-index: var(--z-below)

.calendar__cell.completed .calendar__task
  background-color: hsl(var(--clr-container-light) / .5)
  text-decoration: line-through
  color: hsl(var(--clr-text))

.calendar__tasks
  --gap: 5px

  margin-top: 8px
  text-align: initial

.calendar__task
  padding: 3px 10px
  border-radius: 6px
  +plugins.ellipsis
