/* COLORS

// blocks
.bg-grade
  background-image: radial-gradient(50% 50% at 50% 50%, hsl(var(--clr-first-light)) 0%, hsl(var(--clr-first)) 100%)

.bg-first-lighten
  background-color: hsl(var(--clr-first-lighten))

.bg-second
  background-color: hsl(var(--clr-second))

.bg-border
  background-color: hsl(var(--clr-border))

.bg-body
  background-color: hsl(var(--clr-body))

.bg-container
  background-color: hsl(var(--clr-container))

.bg-container-light
  background-color: hsl(var(--clr-container-light))

.bg-container-lighten
  background-color: hsl(var(--clr-container-lighten))

.bg-container-dark
  background-color: hsl(var(--clr-container-dark))

// typography
.text
  color: hsl(var(--clr-text))

.text-light
  color: hsl(var(--clr-title))

.text-first-lighten
  color: hsl(var(--clr-first-lighten))
