/* ROOT STYLES

:root
  // dimensions
  --header-height: 120px

  // colors
  --clr-black: 0 0% 0%
  --clr-white: 0 0% 100%
  
  --clr-title: 51 59% 93%
  --clr-text: 240 6% 78%

  --clr-body: 204 67% 17%
  --clr-border: 205 67% 12%
  --clr-border-dark: 204 66% 8%

  --clr-container: 205 67% 14%
  --clr-container-alt: 204 67% 16%
  --clr-container-dark: 205 66% 15%
  --clr-container-light: 204 67% 19%
  --clr-container-lighten: 204 68% 21%

  --clr-first: 185 79% 38%
  --clr-first-light: 185 79% 44%
  --clr-first-lighten: 185 79% 48%
  
  --clr-second: 360 86% 46%

  // font-sizes
  --fs-900: 2rem
  --fs-800: 1.5rem
  --fs-700: 1.375rem
  --fs-600: 1.25rem
  --fs-500: 1.125rem
  --fs-400: 1rem
  --fs-300: .875rem
  --fs-200: .75rem
  --fs-100: .625rem

  // font-families
  --ff-serif: 'Nunito', sans-serif

  // transitions
  --tr-ease: all .3s ease

  // z-index
  --z-modal: 1000
  --z-above: 100
  --z-dropdown: 10
  --z-backdrop: 1
  --z-below: -1

  // Responsive dimensions

  // Responsive typography
